/*Корзина*/
@import'cart_animation';


.top_cart {
    height: 400px;
    background-image: url(img/topback_cart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;

    &_form {
        background: #F7F6F6;
        border-radius: 20px;
        height: 556px;
        grid-column: span 4;
    }

    &_content {
        grid-column: span 8;
    }

    &_name_box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
    }

    &_item {
        border-top: 0.5px solid #CACDD8;
        padding-top: 25px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &_info {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &_left {
        display: flex;
        gap: 32px;
    }

    &_info_product {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        width: 276px;
    }

    &_rub {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #050505;
    }

    &_link-box {
        display: flex;
        gap: 30px;
    }
}

.check {
    background: #F7F6F6;
    border-radius: 6px;
    width: 71px;
    height: 51px;
    border-color: transparent;
}

.customer {
    display: flex;
    gap: 44px;
    flex-direction: column;
    padding-top: 35px;
    padding-left: 27px;
    padding-right: 64px;
}

.customer_fld {
    border: none;
    border-bottom: 1px solid #CACDD8;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    background-color: transparent;
}

.link_cart_prod {
    font-weight: 400;
    font-size: 14px;
    line-height: 210%;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #000000;
}

.hed_form {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    text-align: center;
    padding-top: 42px;
}

.fin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 148px;

    &_sum {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #000000;
        padding-top: 68px;
        padding-bottom: 28px;
    }

    &_total {
        display: flex;
    }

    &_checkout {
        background: transparent;
        border: 1px solid #040404;
        box-sizing: border-box;
        border-radius: 20px;
        width: 290px;
        height: 41px;
        font-size: 15px;
        line-height: 18px;
        color: #000000;
        transition: all .3s;
        animation: heartbeat 2s ease-in-out infinite both;

        &:hover {
            background: #000000;
            color: #FFFFFF;
        }
    }
}

.btn_sec {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.btn_cart_sec {
    background: transparent;
    border: 1px solid #040404;
    box-sizing: border-box;
    border-radius: 50px;
    width: 200px;
    height: 37px;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    transition: all .3s;

    &:hover {
        background: #000000;
        color: #FFFFFF;
    }
}